body {
  background-image: url('spooky.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: helvetica, sans-serif;
  font-size: 30px;
  color: lavender;
  margin: 0;
  padding: 0;
}

h1 {color: limegreen;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.transparent-box {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  text-align: center;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
